:host {
    div[scrollX=true] {
        display: flex;
        flex-wrap: nowrap;
        overflow-x: auto;
        &::-webkit-scrollbar {
          display: none;
        }
        .scroll-item {
          flex: 0 0 auto;
        }
      }
   
      .match-item {
        border: 1px;
        --ion-margin: 12px;
        position: relative;
        display: inline-block;
        padding-right:4px;
        padding-top:4px;
        ion-avatar {
          width: 80px;
          height: 80px;
        }
      
        ion-icon {
          position: absolute;
          top: 0;
          right: 0;
          font-size: 25px;
          -webkit-text-stroke-color: white !important;
        }
        p {
          font-weight: 500;
        }
      }
}
