<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-grid class="ion-padding-vertical">
  <ion-row>
    <ion-col size="12">
        <horizontal-scroll [items]="items"></horizontal-scroll>
    </ion-col>
    
  </ion-row>
  <ion-row>
      <ion-col size="12">
          <horizontal-scroll [items]="items"></horizontal-scroll>
      </ion-col>
  </ion-row>
</ion-grid>
  <!-- <horizontal-scroll [items]="items"></horizontal-scroll>
  <button ion-button (click)="takePhotoAndShowCrop()">Take Photo & Crop</button>
  <button ion-button (click)="showCrop()">Crop</button>
  <img [src]="src"/> -->
</ion-content>
